<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>231231</h1>
    <ul>
        <% for(let i = 0; i < news.length; i++) { %>
            <li><%= news[i] %></li>
        <% } %>
    </ul>
</body>
</html>