<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        h1 {text-align: center;}
    </style>
    <title>Document</title>
</head>

<body>
    <h1>我的留言本</h1>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="username">
                </div>
            </div>
            <div class="form-group">
                <label for="liuyan" class="col-sm-2 control-label">留言</label>
                <div class="col-sm-10">
                    <textarea  class="form-control" id="liuyan" placeholder="liuyan"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" id="submit">提交</button>
                </div>
            </div>
        </form>
    </div>

    <ul class="list"></ul>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $.ajax({
                url: '/du',
                type: 'get',
                success: function(data){
                    var html = '';
                    data.result.forEach((value, index) => {
                        console.log(value);
                        if(value.liuyan) {
                            html += `<li>${value.liuyan}</li>`;
                        }
                    });
                    $('.list').append(html);
                }
            })
            $('#submit').click(function(){
                $.post(
                    '/tijiao',
                    { 
                        'username': $('#username').val(),
                        'liuyan': $('#liuyan').val()
                    }, 
                    function(data){
                        if(data.result == 1){
                            alert('提交成功！');
                        } else if(data.result == -1){
                            alert('提交失败！');
                        }
                    }
                )
            })
            
        })
    </script>
</body>

</html>